.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
.img-circle {
    border-radius: 2%;
}

.bot-padding {
    padding-bottom:1cm;
}

#myname{
    font-size: 30pt;
    color: black;
    text-decoration:none;
}
#links{
    font-size: 25pt;
}
#headerspace{
    padding:0.5cm;
}

.collapsible {
    border-radius: 10px;
    background-color: #297cbc;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 5px;
    

}

.active, .collapsible:hover {
    background-color: #2F5D89;
}

.content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius:10px;
    max-height: 1800px;
    -webkit-transition: max-height 0.5s; 
    -moz-transition: max-height 0.5s; 
    -ms-transition: max-height 0.5s; 
    -o-transition: max-height 0.5s; 
    transition: max-height 0.5s;
}

.content.collapsed{
    max-height: 0;

}

/* Style the tab */
.tab {
    overflow: hidden;

    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: 0px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius:10px;
    margin-top:5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    height: auto;
    border-top: none;
}


video {
    width: 100%;
    height: auto;
}
